:root{
    --primary:#EAE7DE;
    --sec:#c7a17a;
    --third:#666666;
    --forth:#FFFFFF;
    --fifth:#543f2a;
}
:root{
    --color-white: #fff;
    --main-color: #c7a17a;
    --second-color: #EAE7DE;
    --third-color: #8d8d8d;
}
:root{
    --primary-color: #211D1A;
    --secondary-color: #BA946D;
    --third-color: #c7c4c4;
    --forth-color: white;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", monospace;
}
*::selection{
    background: var(--sec);
    color: var(--primary);
}



a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

#scrollToTopBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: var(--main-color); 
    color: white; 
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    font-size: 20px;
}

#scrollToTopBtn:hover {
    background-color: #9c7650; 
}
 /* user_login_logout start  */
 .user_login_logout{
    width: 15rem;
     height:   17rem;
     position: absolute;
     background-color: var(--main-color);
     top: 45px;
     left: 75rem;
    }
    .display_login{
        display: none;
    }

    .display_login.active{
        display: block;
}
.user_login_logout .user_img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 4rem;
    /* color: #543f2a; */
    
}
.user_login_logout .user_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user_login_logout p{
    display: block;
    margin: auto;
    text-align: center;
    color: var(--color-white);
    font-size:20px;
    font-style: italic;
}
.user_login_logout .login,
.user_login_logout .logout{
    width: 100%;
    height: 50%;
    text-align: center;
    color: var(--color-white);
    line-height: 50px;
    font-size:30px;
    font-style: italic;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    margin: 0 5rem;
    transition: all 0.5s ease;
}
.user_login_logout .login:hover,
.user_login_logout .logout:hover{
    color: var(--fifth);
}

/* user_login_logout end */
/* animation start */
/* Mobile devices (max-width: 768px) */
@media (max-width: 768px) {
    .aos-animate {
        /* Change animation properties for mobile devices if needed */
        transform: scale(0.8); /* Scale down for small screens */
    }
}

/* For larger screens */
@media (min-width: 769px) {
    .aos-animate {
        transform: scale(1);
    }
}

/* animation end */
/* start header */

header{
    position: fixed;
    left: 0;
    width: 100%;
    padding: 15px 25px;
    z-index: 100;
    backdrop-filter: blur(10px); 
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header.white-bg {
    background-color: white; /* Change header background to white */
}

header.white-bg a,
header.white-bg i{
    color: black !important;
}

header.white-bg .icons{
    border-left-color: black !important;
}

header.white-bg a:hover,
header.white-bg i:hover{
    color: var(--main-color) !important;
}

header .menu-bar{
    display: none;
    /* position: absolute; */
}

header .logo1, header .menu-icon{
    display: none;
}

header .logo{
    width: 100px;
    display: flex;
    align-items: center;
}

header .logo img{
    width: 100%;
}

header .box{
    display: grid;
    grid-template-columns: 4.5fr 1fr;
}

header .box .links ul{
    display: flex;
    align-items: center;
    list-style: none;
}


header .box .links ul li a{
    padding-bottom: 20px;
    text-transform: uppercase;

}

header .box .links .pages{
    position: relative;
}

header .box .links .pages-content{
    display: none;
}

header .box .links .pages:hover .pages-content{
    display: block;
    background-color: var(--second-color);
    position: absolute;
    top: 30px;
    padding: 0px 30px;
    width: 220px;
    border-top: 3px solid var(--main-color);
}

header .box .links .pages:hover .pages-content li{
    cursor: pointer;
    margin: 20px 0px;
}

header .box .links .pages:hover .pages-content li a{
    color: black;
    font-size: 15px;
    padding: 0;
    transition: all 0.2s ease-in-out;
}

header .box .links .pages:hover .pages-content li:hover a{
    color: var(--main-color);
}

header .box .links a{
    padding: 0px 17px;
    color: var(--color-white);
    font-weight: 800;
    letter-spacing: 1.5px;
}

header .box .links a:hover{
    color: var(--main-color);
    transition: 0.2s ease-in-out;
}

header .box .icons{
    text-align: right;
    border-left: 2px solid var(--color-white);
    cursor: pointer;
    
}

header .box .icons i{
    padding: 0px 10px;
    color: var(--color-white);
    position: relative;
}
header .box .icons .Span_Cart{
    position: absolute;
    color: var(--color-white);
    right: 0;
    top: -10px;
    background-color: var(--secondary-color);
    width: 16px;
    height: 16px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


header .sidebar {
    position: fixed;
    top: 0;
    right: -400px; /* Hide it off-screen */
    width: 400px;
    height: 10000%;
    background-color: var(--second-color); 
    color: var(--third-color) !important;
    transition: all 1s ease; 
    z-index: 1000; 
    text-align: center;
    padding: 50px;
}

header .sidebar.active {
    right: 0; /* Show the sidebar */
}

header .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--third-color); 
    outline: none;
    
}

header .close-btn i:hover{
    transform: scale(0.9);
}

header .icon-bar i{
    color: var(--main-color);
    padding:0 15px ;
    font-size: 20px;
}

header .icon-bar i:hover{
    color: #5f4326;
    cursor: pointer;
}

header .sidebar p{
    margin: 30px 0;
}

@media(max-width:975px){
    header{
        background-color:var(--color-white);
        color: black;
        flex-direction: row-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    header .logo, 
    header .links,
    header .icons{
        display: none;
    }

    header .logo1,
    header .menu-icon{
        display: block;
        cursor: pointer;
    } 

    header .menu-icon{
        padding: 20px 30px;
    }

    header .menu-icon i{
        font-size: 30px;
    }

    header .menu-bar {
        display: none;
        background-color: white;
        padding: 10px;
        position: absolute;
        z-index: 1000; 
    }
    
    header .menu-bar {
        top: 50px;
        left: 0px;
        right: 0;
    }

    header .menu-bar > ul{
        padding-left: 55px;
        padding-right: 55px;
    }

    header .menu-bar ul li{
        border-bottom: 1px solid #eaeaea;
        padding: 10px 0px;
    }

    header .menu-bar .pages2 .pages-content2{
        padding-left: 20px;
    }

    header .menu-bar ul li:hover > a{
        color: var(--main-color);
    }

    header .menu-bar ul li:last-child{
        border: none;
    }

    header .menu-bar ul li a{
        color: var(--third-color);
        transition: all 0.2s ease-in-out;
    }

    header .menu-icon{
        position: absolute;
        left: 40px;
    }
    
    header .logo1{
        width: 100px;
    }

    header .logo1 img{
        width: 100%;
    }

    header .menu-bar ul .pages2 .pages-content2{
        display: none;
    }

    header .menu-bar ul .pages2:hover .pages-content2{
        display: block;
    }
}
/* search start  */
header .search-bar-container{
    width: 20rem;
    height: 3rem;
    position: absolute;
    top: 100%;
    left: 75%;
    right: 0;
    padding:.3rem 0.5rem;
    background: var(--sec);
    border-radius: 10px;
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0,100% 0 ,100% 0 ,0 0);

}
header .search-bar-container.active{
    clip-path: polygon(0 0,100% 0 ,100% 100% ,0 100%);
}
header .search-bar-container #search-bar{
    width: 100%;
    margin: auto;
    padding: .3rem 1rem;
    text-transform: none;
    color: var(--primary-color);
    font-size: 1rem;
    border-radius: .5rem;
    border:0.3px solid var(--fifth);
    outline: none;
}
header .search-bar-container label{
    color: var(--color-white);
    cursor: pointer;
    font-size: 1rem;
    margin-left: .5rem;
}
header .search-bar-container label:hover{
    color: var(--fifth);
}


/* search end  */
/* End Header */

/* start aboutUs */
.aboutUs{
    background-image:linear-gradient(rgba(0, 0, 0, 0.364), rgba(0, 0, 0, 0.321)),url(../images/shop.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;   
}
.aboutUsTeam{
    background-image:linear-gradient(rgba(0, 0, 0, 0.364), rgba(0, 0, 0, 0.321)),url(../images/team.jpg);
}

.aboutUs h2{
    color: var(--color-white);
    font-size: 40px;
    font-weight: 700;
    
}

.aboutUs_content .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* gap: 30px; */
    margin: 50px;
    margin-top: 0;
    padding: 120px 0px;
    
}

.aboutUs_content .container .image{
    /* width: 2350px; */
    padding: 0px 50px;
    display: flex;
    align-items: center;
}

.aboutUs_content .container .image img{
    width: 100%;
}

.aboutUs_content .container .text{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.aboutUs_content .container .text p{
    color: var(--third-color);
    margin: 30px 0px;
}

.aboutUs_content .container .text h3{
    border-left: 2px solid var(--main-color);
    padding: 10px 30px;
    font-weight: 300;
    font-style: italic;
}

.aboutUs_content .container .text .icon i{
    color:#6c6b6b;
    padding: 30px 20px 30px 0px;
    cursor: pointer;
    font-size: 17px;
}

.aboutUs_content .container .text .icon i:hover{
    color: var(--main-color);
    /* font-size: large; */
    transition: all 0.2s ease-in-out;
}

@media(max-width: 970px){
    .aboutUs_content .container{
        grid-template-columns: 1fr;
    }

    .aboutUs_content .container .image{
        margin-bottom: 40px;
    }
}

@media(max-width: 720px){
    .aboutUs_content .container .image{
        padding: 0;
    }

    .aboutUs_content .container .text{
        padding: 0;
    }
}

/* end aboutUs */

/* our_team  start */
.our_team{
    background-color: #F5F5F5;
}
.our_team .team_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 6rem;

}
.our_team .team_info_left {
    margin-right:5rem ;
}
.our_team .team_info_left .title h2{
    font-family:"Merriweather", serif;
    font-style: italic;
    color: var(--sec);
    font-weight: 100;
    font-size: 22px;
    margin-bottom: 0.8rem;
}
.our_team .team_info_left .title h1{
    font-weight: 900;
    font-size:35px;
    padding-left: 0;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.8rem;
    color: var(--primary-color);
}
.our_team .team_info_left .title hr{
    background-color: var(--sec);
    width:10rem;
    height:3px;
    margin-bottom: 35px;
    
}
.our_team .team_info_left p{
    color: var(--third);
    font-size: 1rem;

}

.our_team .team_info_right {
    position: relative;
    max-width: 500px;
    width: 100%;
    margin-top: 5rem;
    border-radius: 7px;
  }
  
  .our_team .team_info_right .skill-box {
    width: 100%;
    margin: 25px 0;
  }
  
  .our_team .team_info_right .skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
  }
  
  .our_team .team_info_right .skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: var(--third-color);
  }
  
  .our_team .team_info_right .skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    background: var(--secondary-color);
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
  }
  
  .our_team .team_info_right .skill-per.Design {
    /*progreso de las diferentes lenguajes*/
    width: 92%;
    animation-delay: 0.1s;
  }
  
  .our_team .team_info_right .skill-per.DEVELOPMENT {
    /*progreso de las diferentes lenguajes*/
    width: 67%;
    animation-delay: 0.1s;
  }
  
  .our_team .team_info_right .skill-per.USER_EXPERIENCE {
    /*progreso de las diferentes lenguajes*/
    width: 87%;
    animation-delay: 0.2s;
  }
  
  @keyframes progress {
    0% {
      width: 0;
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .our_team .team_info_right .skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 3px;
    z-index: 1;
  }
  @media (max-width:920px){
    .our_team .team_info{
        grid-template-columns: 1fr;
    }
    .our_team .team_info_right {
        margin-top: 0;
      }
  }
/* our_team  end */

/* team start  */
.team{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.team{
    background-color: var(--forth);
}
.team .title{
    display: inline;
    justify-content: center;
    text-align: center;
}
.team .title h2{
    font-family:"Merriweather", serif;
    font-style: italic;
    color: var(--sec);
    font-weight: 100;
    font-size: 22px;
    margin-bottom: 1rem;
}
.team .title h1{
    font-weight: 900;
    font-size:35px;
    padding-left: 0;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -10px;
}
.team .title hr{
    background-color: var(--sec);
    margin: auto;
    width:10rem;
    height:3px;
    margin-top: 20px;
    margin-bottom: 35px;
    
}
.team .container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.team .Card{ 
    width: 25rem;
    /* background-color: var(--forth); */
    background-color: white;
    padding: 1.5rem;
    border-radius: 5px;
    /* border: 1px solid var(--secondary-color); */
    transition: all 0.3s linear;
    margin: 1rem;
    position: relative;

}
.team .Card:hover{
    box-shadow: inset 0 -2em 2em rgba(0,0,0,0.1),
    0 0  0 0.9px rgb(190, 190, 190),
    0.1em 0.1em 0.5em rgba(0,0,0,0.3);    
    overflow: hidden;

}
.team .Card:hover img{
    filter: grayscale(100%);
}
.team .Card img{
    width: 100%;
}

/* .team .Card .image .btn{
    width: 100%;
    height: 100%;
    background-color:transparent;
    position: absolute;
    display: inline;
    text-align: center;
    top: 0;
    left: 0;
    transition: all 0.3s linear;
}

.team .Card .image:hover img{
    opacity: 0.4;
    background-color: black;
}
 */
 .team .Card .Card_info{
    display: inline;
    text-align: center;
 }
.team .Card .Card_info h1{
    font-size: 18px;
    padding: 1rem 0;
    padding-left: 0;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}
.team .Card .Card_info span{
    color: var(--sec);
    font-size: 3rem;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.team .Card .Card_info .p1{
    font-family:"Merriweather", serif;
    font-style: italic;
    color: var(--sec);
    margin-bottom: 1rem;
}
.team .Card .Card_info p{
    color: var(--third);
    font-family:"Open Sans";
    margin-bottom: 1.5rem;
}
.team .Card .Card_info_link a{
    color: var(--sec);
    text-decoration: none;
    font-weight: 900;
    font-size: 1.6rem;
    letter-spacing: 1.5rem;
    transition: all 0.3s linear;
}
.team .Card .Card_info_link a:hover{
    font-size: 1.7rem;
    color: var(--fifth);
}
/* team end */ 

/* contactus start  */
.contactus_home{
    background-image:linear-gradient(rgba(0, 0, 0, 0.364), rgba(0, 0, 0, 0.321)),url(../images/contact_uc.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;   
    text-transform: uppercase;
    color: var(--color-white);
    font-size: large;
}
.contactus{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 115px 0 120px 0;
    margin-bottom: 6rem;
}
.contactus .location{
    width: 45%;
    padding-left:  15px;
}
.contactus .write{
    width: 45%;
    padding-right: 15px;
}
.contactus .write .formforcontuct{
    padding-top: 16px;
}
.contactus .write .formforcontuct .name, .email, .message{
    width: 100%;
    padding: 17px 19px;
    height: 16px;
    margin-bottom: 22px;
    background-color: rgb(246, 244, 239);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(199, 161, 122);
    outline-color: rgb(199, 161, 122);
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
}
.contactus input::placeholder{
    color: rgb(199, 161, 122);
}
.contactus .write .formforcontuct .button{
    padding: 14px 35px;
    background-color: rgb(199, 161, 122);
    border: 1.6px solid rgb(199, 161, 122);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    display: inline-block;
    width: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 2.5px;
    font-weight: 800;
}
.contactus .write .formforcontuct .button:hover{
    background-color: black;
    border-color: black;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.contactus .location .inlocation .address{
    padding-top: 16px;
}
.contactus .location .inlocation .phones{
    padding: 40px 0 0;
}
.contactus .location .inlocation .emails{
    padding: 40px 0 0;
}
.contactus .location .inlocation i{
    color: rgb(199, 161, 122);
    font-size: 25px;
}
.contactus .location .inlocation h3{
    font-family: Oswald, sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
}
.contactus .location .inlocation p{
    color: rgb(102, 102, 102);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}
@media(max-width:750px){
    .contactus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-left: 1rem;
        padding: 50px 0 60px 0;
    }
    .contactus .location{
        width: 90%;
    }
    .contactus .write{
        width: 90%;
        padding-bottom: 50px;
    }
}
/* contactus end  */
/* Process start  */
.Process{
    background-image:linear-gradient(rgba(0, 0, 0, 0.364), rgba(0, 0, 0, 0.321)),url(../images/OurProcess.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;    
}
.Process h2{
    color: var(--color-white);
    font-size: 40px;
    font-weight: 700;   
}
.Process_contain .sec1
,.Process_contain .sec2
,.Process_contain .sec3
,.Process_contain .sec4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem;
    gap: 2rem;
    padding-bottom: -5rem;
}
.Process_contain .sec1{
    width: 100%;
    background-color: var(--color-white);
    
}
.Process_contain .sec2{
    width: 100%;
    background-color: #F2F0EA;
    
}
.Process_contain .sec3{
    width: 100%;
    background-color: var(--color-white);
}
.Process_contain .sec4{
    width: 100%;
    background-color:#F2F0EA;
}
.Process_contain .left{
    padding-top: 2rem;
}
.Process_contain .right .image{
    width: 95%;
}
.Process_contain .right .image img{
    width: 100%;
}
.Process_contain .right .image{
    width: 95%;
}
.Process_contain .right .image img{
    width: 100%;
}
.Process_contain .left p{
    color: var(--primary-color);
    font-size: 15px;
    margin-bottom: 3rem;
}
.Process_contain .left .head h3{
    font-size: 25px;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.Process_contain .left .list{
    font-size: 15px;
    font-family: Oswald, sans-serif;
    color: var(--main-color);
    font-style: italic;
    margin-bottom: 1rem;
}
.Process_contain .button{
    padding: 14px 35px;
    background-color: rgb(199, 161, 122);
    border: 1.6px solid rgb(199, 161, 122);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    display: inline-block;
    width: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 2.5px;
    font-weight: 800;
    text-transform: uppercase;
}
.Process_contain .button:hover{
    background-color: black;
    border-color: black;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.Process_contain .team_info_right {
    position: relative;
    max-width: 500px;
    width: 100%;
    margin-top: 5rem;
    border-radius: 7px;
  }
  
  .Process_contain .team_info_right .skill-box {
    width: 100%;
    margin: 25px 0;
  }
  
  .Process_contain .team_info_right .skill-box .title {
    display: block;
    /* font-size: 14px; */
    font-weight: 600;
    color: var(--primary-color);
  }
  
  .Process_contain .team_info_right .skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: var(--third-color);
  }
  
  .Process_contain .team_info_right .skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    background: var(--secondary-color);
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
  }
  
  .Process_contain .team_info_right .skill-per.Design {
    /*progreso de las diferentes lenguajes*/
    width: 87%;
    animation-delay: 0.1s;
  }
  

  
  .Process_contain .team_info_right .skill-per.USER_EXPERIENCE {
    /*progreso de las diferentes lenguajes*/
    width: 72%;
    animation-delay: 0.2s;
  }
  
  @keyframes progress {
    0% {
      width: 0;
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .Process_contain .team_info_right .skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 3px;
    z-index: 1;
  }

  @media (max-width:920px){
    .Process_contain .team_info{
        grid-template-columns: 1fr;
    }
    .Process_contain .team_info_right {
        margin-top: 0;
      }
  }
  @media (max-width:900px){
    .Process_contain .sec1
    ,.Process_contain .sec2
    ,.Process_contain .sec3
    ,.Process_contain .sec4{
        grid-template-columns: 1fr;
    }
    .Process_contain .image{
        width: 100%;
    }
    .Process_contain .left{
        margin-top: 3rem;
    }
    .Process_contain .left p{
        font-size: 15px;
    }
}
/* Process end  */
/* start footer */

footer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", monospace;
}

footer .disc, footer .time{
    color: #c7c4c4;
}

.footer h2{
    font-weight: 500;
    font-size: 1rem; 
    cursor: default;
}

.footer h3{
    font-weight: 500;
    cursor: default;
    font-size: 1.2rem;
}

footer .ff-section .article .title{
    font-size: 1rem;
    color: #BA946D;
}


footer a,footer p,footer span{
    cursor: default;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    
}


.footer .container{
    display: grid;
    height: auto;
    background-color: #211D1A;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 1fr;
    grid-template-areas: "ff" "sf";
}

footer .date{
    font-size: 0.9rem;
    font-weight: 300;
    font-style: italic;
    color: #BA946D;
    border-bottom: 0.1px solid #c7c4c475;}

.footer .container .first-footer{
    grid-area: "ff";
    background-image: url("../images/footer1.jpg");
    background-size: cover;
    display: grid;
    padding: 5.5rem 4rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "ff-section ff-section ff-section ff-section";
}


.footer .container .second-footer{ 
    grid-area: "sf";
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 47px;
    padding-right: 100px;
    

}
.footer .container .second-footer p{
    font-family: "Rubik", monospace;
    font-weight: 400;
    font-size: 1.1rem;
    color: #c7c4c4;
} 
.footer .container .second-footer .s2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.footer .container .second-footer .s2 a{
    margin-left: 10px;
    color: #c7c4c4;
    margin-right: 10px;
    font-size: 1.2rem;
    transition: all 0.2s ease;
}


.footer .container .second-footer .s2 a:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.footer .container .second-footer .s2 a:hover i {
    color: #BA946D;
}


.footer .container .first-footer .ff-section{
    color: white;
    margin-left: 20px;
 
}

.footer .container .first-footer .ff-section .days .day{
    margin-top: 7px;
    display: flex;
    justify-content: space-between; 
}

.footer .container .first-footer .ff-section .days,
.footer .container .first-footer .ff-section .addresses,
.footer .container .first-footer .ff-section .blog-posts,
.footer .container .first-footer .ff-section .article{
    margin-top: 15px;
}

.footer .container .first-footer .ff-section .addresses .address{
    display: flex;
    flex-direction: column;
}

.footer .container .first-footer .ff-section .blog-posts .blog-post{
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    margin-bottom: 10px;
        
}

.footer .container .first-footer .ff-section #article-2{
    margin-top: 0px;
    border-top: 0.1px solid #c7c4c475;
    padding-top: 10px;
    margin-top: 10px;
    
}
footer h2.post{
    transition: all 0.3s ease;
    cursor: pointer;
}
footer h2.post:hover{
    color:#BA946D;
}
footer a.mail{
    color:#BA946D;
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
}
footer a.mail:hover{
    color: #c7c4c4;
    cursor: pointer;
}



@media (max-width: 700px){
    footer .container .second-footer p{
        font-size: 12px !important;
    }
    footer p.disc{
        font-size: 10px;
    }
    
    footer p.date{
        font-size: 12px;
    }

    footer h2.post{
        font-size: 11px;
    }

    footer h3{
        font-size: 15px !important;
    }

    footer span{
        font-size: 12px !important;
    }

    footer a{
        font-size: 10px !important;
    }

    .footer .container .first-footer .ff-section .article .title{
        font-size:15px;
    }
    .footer .container{
        display:flex;
        flex-direction: column;
        height: auto;
    }

    .footer .container .first-footer{
        display: flex;
        flex-direction: column;
    }
    .footer .container .first-footer .ff-section{
        margin-left: 0px !important;
        margin-bottom: 2rem !important;
        margin-right: 0px !important;
    }
    
    .footer .container .second-footer{
        padding: 20px 10px;
    }

    .footer .container .second-footer .s2 a{
        font-size: 12px !important;
    }

    .footer .container .second-footer .s2{
        margin: 0px 15px !important;
    }
       .footer .container .second-footer{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    
    }
}

@media (min-width: 701px) and (max-width: 1000px){
    .footer .container{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .footer .container .first-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "ff-section-1 ff-section-2"
    "ff-section-3 ff-section-4";
    }

    .footer .container .first-footer .ff-section{
        margin-left: 1rem !important;
        margin-bottom: 1rem !important;
        margin-right: 0px !important;        
    }
    .footer .container .second-footer{
        height: 4rem;;
    }
}

/* Footer end */